body,html {
    color: #a9adb8;
    background-color: #100a1e;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    overflow-x: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

hr{
    width: 50px;
    border-color: transparent;
    border-right-color: rgba(255, 255, 255, 0.7);
    border-right-width: 50px;
    position: absolute;
    bottom: 100%;
    transform-origin: 100% 50%;
    animation-name: rain;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



h1,h2,h3,h4,h5,h6 {
    clear: both;
    color: #fdfeff;
    padding: 0;
    margin: 0 0 10px;
    font-weight: 700;
    line-height: 1.2em
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 34px
}

h3 {
    font-size: 26px
}

h4 {
    font-size: 22px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 15px
}

p {
    color: #a9adb8;
    margin-bottom: 12px
}

ul {
    color: #a9adb8;
    margin: 0 0 3px;
    padding-left: 15px
}

ol {
    padding-left: 15px;
    margin-bottom: 15px
}

cite,dfn,em,i {
    font-style: italic
}

blockquote {
    margin: 0 15px
}

address {
    margin: 0 0 15px
}

img {
    border: 0;
    max-width: 100%;
    height: auto
}

a {
    color: #a9adb8;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

a:hover {
    text-decoration: none;
    color: inherit
}

@media screen and (max-width: 991px) {
    body,html {
        font-size:14px
    }
}

@media screen and (min-width: 992px) {
    .kedi-height-b0 {
        height:0
    }

    .kedi-height-b25 {
        height: 25px
    }

    .kedi-height-b30 {
        height: 30px
    }

    .kedi-height-b40 {
        height: 40px
    }

    .kedi-height-b80 {
        height: 80px
    }

    .kedi-height-b85 {
        height: 85px
    }

    .kedi-height-b90 {
        height: 90px
    }

    .kedi-height-b95 {
        height: 95px
    }

    .kedi-height-b100 {
        height: 100px
    }
}

@media screen and (max-width: 991px) {
    .kedi-height-lg-b0 {
        height:0
    }

    .kedi-height-lg-b5 {
        height: 5px
    }

    .kedi-height-lg-b10 {
        height: 10px
    }

    .kedi-height-lg-b15 {
        height: 15px
    }

    .kedi-height-lg-b20 {
        height: 20px
    }

    .kedi-height-lg-b25 {
        height: 25px
    }

    .kedi-height-lg-b30 {
        height: 30px
    }

    .kedi-height-lg-b35 {
        height: 35px
    }

    .kedi-height-lg-b40 {
        height: 40px
    }

    .kedi-height-lg-b45 {
        height: 45px
    }

    .kedi-height-lg-b50 {
        height: 50px
    }

    .kedi-height-lg-b55 {
        height: 55px
    }

    .kedi-height-lg-b60 {
        height: 60px
    }

    .kedi-height-lg-b65 {
        height: 65px
    }

    .kedi-height-lg-b70 {
        height: 70px
    }

    .kedi-height-lg-b75 {
        height: 75px
    }

    .kedi-height-lg-b80 {
        height: 80px
    }

    .kedi-height-lg-b85 {
        height: 85px
    }

    .kedi-height-lg-b90 {
        height: 90px
    }

    .kedi-height-lg-b95 {
        height: 95px
    }

    .kedi-height-lg-b100 {
        height: 100px
    }

    .kedi-height-lg-b105 {
        height: 105px
    }

    .kedi-height-lg-b110 {
        height: 110px
    }

    .kedi-height-lg-b115 {
        height: 115px
    }

    .kedi-height-lg-b120 {
        height: 120px
    }

    .kedi-height-lg-b125 {
        height: 125px
    }

    .kedi-height-lg-b130 {
        height: 130px
    }

    .kedi-height-lg-b135 {
        height: 135px
    }

    .kedi-height-lg-b140 {
        height: 140px
    }

    .kedi-height-lg-b145 {
        height: 145px
    }

    .kedi-height-lg-b150 {
        height: 150px
    }

    .kedi-height-lg-b155 {
        height: 155px
    }

    .kedi-height-lg-b160 {
        height: 160px
    }

    .kedi-height-lg-b165 {
        height: 165px
    }

    .kedi-height-lg-b170 {
        height: 170px
    }

    .kedi-height-lg-b175 {
        height: 175px
    }

    .kedi-height-lg-b180 {
        height: 180px
    }

    .kedi-height-lg-b185 {
        height: 185px
    }

    .kedi-height-lg-b190 {
        height: 190px
    }

    .kedi-height-lg-b195 {
        height: 195px
    }

    .kedi-height-lg-b200 {
        height: 200px
    }

    .kedi-height-lg-b205 {
        height: 205px
    }

    .kedi-height-lg-b210 {
        height: 210px
    }
}

.kedi-mp0 {
    margin: 0;
    padding: 0
}

.kedi-flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.kedi-zoom {
    position: relative;
    overflow: hidden
}

.kedi-zoom .kedi-zoom-in {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.kedi-zoom:hover .kedi-zoom-in {
    -webkit-transform: scale(1.07);
    transform: scale(1.07)
}

.kedi-vertical-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.kedi-vertical-middle .kedi-vertical-middle-in {
    width: 100%
}

.kedi-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.kedi-content {
    position: relative;
    z-index: 10;
    overflow-x: hidden
}

.kedi-sticky-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden
}

.kedi-dark-bg {
    background-color: #070d1b
}

.kedi-gray-bg {
    background-color: #0a101e
}

.kedi-gray-overlay {
    position: relative
}

.kedi-gray-overlay:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(184,184,184,.86)
}

.kedi-gray-overlay .container {
    position: relative;
    z-index: 1
}

hr {
    margin: 0;
    width: 100%;
    border-color: #000
}

.kedi-fixed-bg {
    background-attachment: fixed
}

@media screen and (max-width: 991px) {
    .kedi-content {
        margin:0!important
    }

    .kedi-vertical-middle {
        display: block
    }
}

.kedi-site-header.kedi-style1 {
    background-color: rgba(7,13,27,.9);
    -webkit-box-shadow: 0 10px 10px -10px rgba(7,13,27,.1);
    box-shadow: 0 10px 10px -10px rgba(7,13,27,.1);
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.kedi-site-header.kedi-style1 .kedi-main-header-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80px
}

.kedi-site-header.kedi-style1.kedi-sticky-active {
    background-color: #070d1b
}

@media screen and (max-width: 991px) {
    .kedi-main-header .container {
        max-width:100%
    }

    .kedi-site-header.kedi-style1 {
        background-color: #070d1b
    }
}

.btn-1 {
    background-color: #f79159;
    box-shadow: 0 6px darken(#f79159,10%);
    transition: none
}

.btn-1:hover {
    box-shadow: 0 4px darken(#f79159,10%);
    top: 2px
}

.kedi-nav ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.kedi-main-header {
    position: relative
}

@media screen and (min-width: 992px) {
    .kedi-nav {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .kedi-nav .kedi-nav-list {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .kedi-nav .kedi-nav-list>li {
        margin-right: 40px
    }

    .kedi-nav .kedi-nav-list>li:lakedi-child {
        margin-right: 45px
    }

    .kedi-nav .kedi-nav-list>li>a {
        padding: 15px 0;
        font-size: 15px;
        display: inline-block;
        color: #fdfeff;
        text-transform: uppercase;
        font-family: Roboto,sans-serif;
        font-weight: 500s
    }

    .kedi-nav .kedi-nav-list>li>a.active {
        color: #8100cc
    }

    .kedi-nav .sp-phone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 45px;
        position: relative
    }

    .kedi-nav .sp-phone::before {
        content: "";
        position: absolute;
        height: 11px;
        width: 1px;
        background: #fff;
        left: 0
    }

    .kedi-nav .sp-phone svg {
        fill: #fff;
        width: 15px
    }

    .kedi-nav .sp-phone .sp-phone-no {
        padding-left: 15px;
        color: #8100cc
    }

    .kedi-munu-dropdown-toggle,.kedi-munu-toggle {
        display: none
    }
}

@media screen and (max-width: 991px) {
    .kedi-munu-dropdown-toggle {
        position:absolute;
        height: 30px;
        width: 30px;
        right: 20px;
        top: 5px
    }

    .kedi-munu-dropdown-toggle:after,.kedi-munu-dropdown-toggle:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        height: 2px;
        width: 10px;
        background-color: #fdfeff;
        -webkit-transition: all .3s ease;
        transition: all .3s ease
    }

    .kedi-munu-dropdown-toggle:before {
        -webkit-transform: translate(-50%,-50%) rotate(90deg);
        transform: translate(-50%,-50%) rotate(90deg)
    }

    .kedi-munu-dropdown-toggle.active:before {
        -webkit-transform: translate(-50%,-50%) rotate(0);
        transform: translate(-50%,-50%) rotate(0)
    }

    .kedi-nav .kedi-nav-list {
        position: absolute;
        width: 100vw;
        left: 0;
        background-color: #070d1b;
        padding: 10px 0;
        display: none;
        top: 100%;
        border-top: 1px solid #101624;
        border-bottom: 1px solid #101624;
        overflow: auto;
        max-height: calc(100vh - 80px)
    }

    .kedi-nav .kedi-nav-list ul {
        padding-left: 15px;
        display: none
    }

    .kedi-nav .kedi-nav-list a {
        display: block;
        padding: 8px 20px
    }

    .kedi-nav .menu-item-has-children {
        position: relative
    }

    .kedi-nav .sp-phone {
        display: none
    }

    .kedi-munu-toggle {
        position: relative;
        display: inline-block;
        width: 28px;
        height: 27px;
        margin: 15px 0;
        cursor: pointer
    }

    .kedi-munu-toggle span,.kedi-munu-toggle span:after,.kedi-munu-toggle span:before {
        width: 100%;
        height: 2px;
        background-color: #666;
        display: block
    }

    .kedi-munu-toggle span {
        margin: 0 auto;
        position: relative;
        top: 12px;
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
        -webkit-transition-delay: .2s;
        transition-delay: .2s
    }

    .kedi-munu-toggle span:before {
        content: '';
        position: absolute;
        margin-top: -8px;
        -webkit-transition-property: margin,-webkit-transform;
        transition-property: margin,-webkit-transform;
        transition-property: margin,transform;
        transition-property: margin,transform,-webkit-transform;
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
        -webkit-transition-delay: .2s,0s;
        transition-delay: .2s,0s
    }

    .kedi-munu-toggle span:after {
        content: '';
        position: absolute;
        margin-top: 8px;
        -webkit-transition-property: margin,-webkit-transform;
        transition-property: margin,-webkit-transform;
        transition-property: margin,transform;
        transition-property: margin,transform,-webkit-transform;
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
        -webkit-transition-delay: .2s,0s;
        transition-delay: .2s,0s
    }

    .kedi-toggle-active span {
        background-color: transparent;
        -webkit-transition-delay: .2s;
        transition-delay: .2s
    }

    .kedi-toggle-active span:before {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition-delay: 0s,.2s;
        transition-delay: 0s,.2s
    }

    .kedi-toggle-active span:after {
        margin-top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition-delay: 0s,.2s;
        transition-delay: 0s,.2s
    }
}

.kedi-sticky-header {
    position: fixed;
    z-index: 200;
    width: 100%;
    top: 0;
    left: 0
}

.kedi-site-header.kedi-style2 .kedi-header-author {
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: 6px solid rgba(255,255,255,.1);
    margin: auto
}

.kedi-site-header.kedi-style2 .kedi-header-author img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media screen and (min-width: 991px) {
    .kedi-site-header.kedi-style2 {
        width:300px;
        background: #070d1b;
        height: 100vh;
        border-right: 1px solid #101624;
        overflow: auto
    }

    .kedi-site-header.kedi-style2 .kedi-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .kedi-site-header.kedi-style2 .kedi-nav .kedi-nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .kedi-site-header.kedi-style2 .kedi-nav .kedi-nav-list>li {
        margin-right: 0
    }

    .kedi-site-header.kedi-style2 .kedi-nav .kedi-nav-list>li>a {
        padding: 10px 0
    }

    .kedi-site-header.kedi-style2 .kedi-main-header {
        position: relative;
        padding: 40px 25px 80px
    }

    .kedi-site-header.kedi-style2 .kedi-main-header:after {
        content: '';
        position: fixed;
        height: 80px;
        width: 299px;
        left: 0;
        bottom: 0;
        background-color: #070d1b
    }

    .kedi-site-header.kedi-style2 .kedi-social-btn.kedi-style1 {
        position: fixed;
        bottom: 40px;
        left: 40px
    }

    .kedi-site-header.kedi-style2 .kedi-social-btn.kedi-style1 li {
        color: #0a101e;
        margin-right: 20px;
        font-size: 18px
    }

    .kedi-site-header.kedi-style2 .kedi-social-btn.kedi-style1 li:lakedi-child {
        margin-right: 0
    }

    .kedi-site-header.kedi-style2 .kedi-social-btn.kedi-style1 li a:hover {
        color: #070d1b
    }

    .kedi-site-header.kedi-style2 .kedi-main-header-left {
        margin-bottom: 24px
    }

    .kedi-site-header.kedi-style2 .kedi-btn.kedi-style1 {
        margin-top: 20px;
        font-size: 14px;
        padding: .6em 1.3em
    }

    .kedi-site-header.kedi-style2 .kedi-hero-btn {
        margin-top: 22px
    }

    .kedi-site-header.kedi-style2 .kedi-main-header-left {
        margin-left: -40px;
        margin-right: -40px;
        border-bottom: 1px solid #101624;
        padding-bottom: 40px
    }

    .kedi-get-sidebar {
        padding-left: 300px
    }

    .kedi-get-sidebar .kedi-sticky-footer {
        left: 300px;
        max-width: calc(100% - 300px)
    }
}

.kedi-hero-btn1 {
    background: #34495e;
    width: 15rem;
    color: #8100cc
}

@media screen and (max-width: 991px) {
    .kedi-site-header .kedi-btn,.kedi-site-header.kedi-style2 .kedi-opening-hr,.kedi-site-header.kedi-style2 .kedi-social-btn.kedi-style1 {
        display:none!important
    }

    .kedi-site-header.kedi-style2 {
        background-color: #070d1b;
        border-bottom: 1px solid #101624
    }

    .kedi-site-header.kedi-style2 .kedi-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .kedi-site-header.kedi-style2 .kedi-main-header-in {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 70px
    }

    .kedi-site-header.kedi-style2 .kedi-header-author {
        height: 50px;
        width: 50px;
        border: 2px solid rgba(255,255,255,.1)
    }
}

.kedi-hero-wrap {
    position: relative;
    height: 850px;
    background-color: #070d1b
}

.kedi-hero-wrap img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.kedi-hero-wrap .kedi-hero-img {
    position: absolute;
    right: 4%;
    top: 0;
    height: 100%;
    width: 45%;
    z-index: 11
}

.kedi-hero.kedi-style1 {
    height: 710px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    z-index: 11
}


.kedi-hero.kedi-style1 .kedi-hero-text h1 {
    font-size: 100px;
    margin-bottom: 50px;
    font-weight: 550;
    color: #fdfeff;
    line-height: 1
}

.kedi-hero.kedi-style1 .kedi-hero-text h2 {
    font-size: 36px;
    margin-bottom: 41px;
    font-weight: 300;
    color: #a9adb8
}

.kedi-hero.kedi-style1 .kedi-hero-text h3 {
    font-size: 30px;
    margin-top: -6px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #8100cc
}

.kedi-hero-text h1 strong:hover {
        color: rgb(255, 0, 242);
        text-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.kedi-social-group {
    background-color: #101624;
    border: 1px solid #232935;
    border-right: 0;
    border-radius: 50px 0 0 50px;
    height: 80px;
    width: 448px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    padding-left: 12px;
    right: 100%
}

.kedi-hero.kedi-style2 {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #070d1b
}

.kedi-hero.kedi-style2 .container {
    position: relative;
    z-index: 11
}

.kedi-hero.kedi-style2 h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px
}

.kedi-hero.kedi-style2 h1 span {
    color: #8100cc
}

.kedi-hero.kedi-style2 p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6em;
    margin-bottom: 22px
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .7;
    color: #000;
    top: 0;
    left: 0
}

.kedi-hero-social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.kedi-hero-social-links .kedi-social-btn {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    margin: 0 10px
}

.kedi-hero-social-links .kedi-social-btn:hover {
    border-color: rgba(255,255,255,.6);
    color: rgba(255,255,255,.9)
}

#background-wrap {
    bottom: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    opacity: .1
}

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px
    }

    100% {
        margin-top: -100%
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px
    }

    100% {
        margin-top: -100%
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0
    }

    100% {
        margin-left: 50px
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0
    }

    100% {
        margin-left: 50px
    }
}

.kedi-to-right {
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

@media screen and (max-width: 991px) {
    .kedi-hero-wrap {
        height:initial
    }

    .kedi-hero-wrap .kedi-hero-img {
        display: none
    }
}

@media screen and (max-width: 767px) {
    .kedi-hero.kedi-style2 h1 {
        font-size:40px
    }

    .kedi-hero.kedi-style2 p {
        font-size: 16px
    }

    .kedi-hero.kedi-style2 p br {
        display: none
    }
}

@media screen and (max-width: 575px) {
    .kedi-hero.kedi-style1 {
        height:580px
    }

    .kedi-hero.kedi-style1 .kedi-hero-text h1 {
        font-size: 90px
    }
}

.kedi-btn.kedi-style1,.kedi-btn.kedi-style2 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-family: Roboto,sans-serif;
    line-height: 1.5em;
    font-weight: 500;
    padding: 12px 1.5em;
    border-radius: 10px;
    min-width: 170px;
    border: none;
    outline: 0;
    color: #8100cc;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.kedi-btn.kedi-style2 {
    border: 1px solid;
    padding: .69em 3.2em
}

.kedi-btn.kedi-style1:hover,.kedi-btn.kedi-style2:hover {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 5px 10px 0 #8100cc;
    box-shadow: 0 5px 10px 0 #8100cc
}

.kedi-btn.kedi-style1.kedi-color1 {
    background-color: #8100cc;
    color: #070d1b
}

.kedi-btn.kedi-style1.kedi-color2 {
    background: #000;
    color: #fff
}

.kedi-btn.kedi-style1.kedi-color3 {
    background: #fff;
    color: #222
}

.kedi-btn.kedi-style1.kedi-color4 {
    background-color: pink;
    color: #fff
}

.kedi-btn.kedi-style1.kedi-color5 {
    background: linear-gradient(45deg,#1446ea 0,#03dcec 88%,#03dcec 100%);
    color: #fff
}

.kedi-btn.kedi-style2.kedi-color1 {
    background-color: transparent;
    border-color: #8100cc;
    color: #8100cc
}

.kedi-btn.kedi-style2.kedi-color1:hover {
    background-color: #8100cc;
    color: #070d1b
}

.kedi-btn.kedi-size-medium {
    padding: .6em 1.8em
}

.kedi-btn.kedi-style2.kedi-color2 {
    border-color: #fff;
    color: #fff
}

.kedi-btn.kedi-style2.kedi-color2:hover {
    background-color: #fff;
    color: #222
}

.kedi-hero-btn-group .kedi-btn:not(:lakedi-child) {
    margin-right: 12px
}

@media screen and (max-width: 991px) {
    .kedi-btn.kedi-style1,.kedi-btn.kedi-style2 {
        font-size:14px;
        padding: .72em 1.8em
    }
}

.kedi-section-heading.kedi-style1 {
    text-align: center;
    position: relative;
    margin-top: -5px;
    margin-bottom: 41px
}

.kedi-section-heading.kedi-style1 .kedi-section-heading-title {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #8100cc;
    position: relative;
    z-index: 10;
    letter-spacing: 1px
}

.kedi-section-heading.kedi-style1 .kedi-section-heading-title::before {
    content: "";
    position: absolute;
    background-color: #3f4551;
    width: 170px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.kedi-section-heading.kedi-style1 .kedi-section-heading-title::after {
    content: "";
    position: absolute;
    background-color: #cc00b7;
    width: 70px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.kedi-section-heading.kedi-style1 .kedi-section-heading-subtitle {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 90px;
    font-weight: 700;
    color: rgba(21,27,41,.5);
    margin: 0;
    margin-top: -17px;
    width: 100%
}

@media screen and (max-width: 991px) {
    .kedi-section-heading.kedi-style1 .kedi-section-heading-subtitle {
        display:none
    }
}

.kedi-iconbox.kedi-style2 {
    text-align: center;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    padding: 50px 30px;
    border-radius: 3px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #8100cc;
    background-color: #101624
}

.kedi-iconbox.kedi-style2:hover .kedi-iconbox-icon {
    border: .5px solid #8100cc;
    fill: #8100cc
}

.kedi-iconbox.kedi-style2:hover .kedi-iconbox-icon svg {
    fill: #8100cc
}

.kedi-iconbox.kedi-style2:hover .kedi-iconbox-title {
    color: #8100cc
}

.kedi-iconbox.kedi-style2 .kedi-iconbox-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    border: .5px solid #3f4551;
    border-radius: 50%;
    background-color: #070d1b;
    margin: auto;
    font-size: 50px;
    margin-bottom: 28px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.kedi-iconbox.kedi-style2 .kedi-iconbox-icon svg {
    width: 52px;
    fill: #3f4551;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.kedi-iconbox.kedi-style2 .kedi-iconbox-title {
    font-weight: 400;
    line-height: 1.2em;
    font-size: 20px;
    margin-bottom: 16px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.kedi-iconbox.kedi-style2 .kedi-iconbox-text {
    color: #a9adb8;
    margin-bottom: -6px
}

.kedi-iconbox.kedi-style1 {
    text-align: center;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    padding: 50px 30px;
    border-radius: 3px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #232935;
    background-color: #101624
}

.kedi-iconbox.kedi-style1:hover .kedi-iconbox-icon {
    border: .5px solid #8100cc
}

.kedi-iconbox.kedi-style1:hover .kedi-iconbox-icon svg {
    fill: #8100cc
}

.kedi-iconbox.kedi-style1:hover .kedi-iconbox-title {
    color: #8100cc
}

.kedi-iconbox.kedi-style1 .kedi-iconbox-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    border: .5px solid #3f4551;
    border-radius: 50%;
    background-color: #070d1b;
    margin: auto;
    font-size: 50px;
    margin-bottom: 28px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.kedi-iconbox.kedi-style1 .kedi-iconbox-icon svg {
    width: 52px;
    fill: #3f4551;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.kedi-iconbox.kedi-style1 .kedi-iconbox-title {
    font-weight: 400;
    line-height: 1.2em;
    font-size: 20px;
    margin-bottom: 16px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.kedi-iconbox.kedi-style1 .kedi-iconbox-text {
    color: #a9adb8;
    margin-bottom: -6px
}

.kedi-contact-text {
    margin-top: -6px;
    margin-bottom: 23px
}

.kedi-single-contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 30px
}

.kedi-single-contact-info:hover i {
    border-color: #8100cc
}

.kekw-w {
    background-color: #000
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px
}

.input-file-container {
    position: relative;
    width: auto
}

.js .input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #8100cc;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer
}

.js .input-file {
    top: 0;
    left: 0;
    width: 15rem;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer
}

.js .input-file:hover+.input-file-trigger,.js .input-file:focus+.input-file-trigger,.js .input-file-trigger:hover,.js .input-file-trigger:focus {
    background: #34495e;
    width: 15rem;
    color: #8100cc
}

.file-return {
    margin: 0
}

.file-return:not(:empty) {
    margin: 1em 0;
    color: #fff
}

.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: 700
}

.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: 400
}

.kedi-single-contact-info i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: .5px solid #3f4551;
    border-radius: 50%;
    background-color: #070d1b;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.kedi-single-info-details h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: -4px;
    margin-bottom: 6px
}

.kedi-single-info-details a {
    display: block;
    margin-bottom: -2px
}

.kedi-single-info-details a:hover {
    color: #8100cc
}

.kedi-single-info-details a:lakedi-child {
    margin-bottom: -6px
}

::-webkit-scrollbar {
    width: 15px;
    height: 1px;
    background: #212332
}

::-webkit-scrollbar-button {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    width: 15px;
    height: 15px
}

::-webkit-scrollbar-thumb {
    background: #2b2e41;
    border: 0 #2b2e41;
    border-radius: 50px
}

::-webkit-scrollbar-thumb:hover {
    background: #8100cc
}

::-webkit-scrollbar-thumb:active {
    background: #8100cc
}

::-webkit-scrollbar-track {
    background: #212332;
    border: 0 #212332
}

::-webkit-scrollbar-track:hover {
    background: #212332
}

::-webkit-scrollbar-corner {
    background: #212332
}

.kedi-copyright-wrap {
    height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.textname {
    color: #8100cc;
}
